div {
    background-color: red;
    width: 65px;
    height: 65px;
    border: 1px solid black;
    margin-left: 10px;
    background-clip: content-box;
    
  }
  
  #first{
  padding: 40px;
    margin-bottom: 50px
  }
  #second{
    padding 40px
    margin-bottom: 20px
    ;
  }
  #third{
    padding: 100px;
    margin: 10px;
  }
  #fourth{
    padding: 15px;
    margin: 20px;
  }
